// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  &-subtree {
    border: 0 solid #999;
    border-left-width: 10px;
    padding-left: 10px;
  }
}
